entrypoint = "main.sh"
modules = ["bash:v1-20231215-e6d471c"]

[nix]
channel = "stable-23_05"

[deployment]
run = ["bash", "main.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000
